---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import LinkButton from '@components/LinkButton.astro';
import Card from '@components/Card';
import getSortedPosts from '@utils/getSortedPosts';
import slugify from '@utils/slugify';

import ArrowRightIcon from '@components/Icons/ArrowRightIcon.astro';

const posts = await getCollection('blog');

const sortedPosts = getSortedPosts(posts);
---

<Layout>
	<Header />

	<section id="recent-posts">
		<h2>Articulos Recientes</h2>
		<ul class="flex gap-2 flex-wrap">
			{
				sortedPosts.map(
					({ data }, index) =>
						index < 4 && (
							<Card
								href={`/posts/${slugify(data)}`}
								frontmatter={data}
								secHeading={false}
							/>
						)
				)
			}
		</ul>
		<div class="all-posts-btn-wrapper">
			<LinkButton href="/posts">
				Todos los Articulos
				<ArrowRightIcon/>
			</LinkButton>
		</div>
	</section>
</Layout>

<Footer />

<style>
	/* ===== Recent Posts Sections ===== */
	#recent-posts {
		@apply pb-6 pt-12;
	}

	#recent-posts h2 {
		@apply text-2xl font-semibold tracking-wide;
	}
	.all-posts-btn-wrapper {
		@apply my-8 text-center;
	}
</style>
