---
import FacebookSvg from "./icons/FacebookSvg.astro";
import InstagramSvg from "./icons/InstagramSvg.astro";
import LinkedinSvg from "./icons/LinkedinSvg.astro";

---

<header>

  <div class="flex justify-between py-4">

    <span>
      <!-- logo here -->
      GisaWebDev
    </span>
  
  
    <nav>
      
      <InstagramSvg/>
      <LinkedinSvg/>
      <FacebookSvg/>
    </nav>
  </div>
  
  
</header>