---
import Social from './Social.astro';
---

<footer class="flex flex-col items-center justify-center gap-y-5">
	<Social />
	<p>
		Creado con ☄️
		<strong class="icon">
			<a href="https://astro.build/" target="_blank">Astro</a>
		</strong>
	</p>
</footer>
