---
import socialIcons from '@assets/socialIcons';
import LinkButton from '@components/LinkButton.astro';
import { SOCIALS } from '@config';
---

<div class="flex gap-5">
	{
		SOCIALS.filter(social => social.active).map(social => (
			<LinkButton
				href={social.href}
				className="link-button"
				title={social.linkTitle}
			>
				<Fragment set:html={socialIcons[social.name]} />
			</LinkButton>
		))
	}
</div>
