@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	html[data-theme='light'] {
		@apply bg-lotion text-charleston-green;
	}
	html[data-theme='dark'] {
		@apply bg-charleston-green text-lotion;
	}
	html[data-theme='light'] .icon {
		@apply hover:text-aquamarine;
	}
	html[data-theme='dark'] .icon {
		@apply hover:text-pastel-red;
	}

	html {
		font-family: 'Noto Sans Mono', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	.center {
		@apply max-w-7xl p-5  sm:mb-auto sm:ml-auto sm:mr-auto sm:mt-0 sm:px-10 sm:py-5;
	}

	#sun-icon,
	html[data-theme='dark'] #moon-icon {
		display: none;
	}
	#moon-icon,
	html[data-theme='dark'] #sun-icon {
		display: block;
	}

	#sun-icon {
		@apply hover:text-pastel-red;
	}
	#moon-icon {
		@apply hover:text-aquamarine;
	}
}
